"foo@bar." marked as valid email address

`foo@bar.` is marked as a valid email address.

But the specification tells us that: Neither part of the address may end with a dot.

```ruby
"foo@bar." =~ RFC822::EMAIL ? "Valid" : "Invalid"
=> Valid
```

Should by invalid.

Sorry, I cannot find that part in https://www.ietf.org/rfc/rfc0822.txt. There has been heated debates about this on Drupal and on Django projects in the past and there is the argument that FQDN should be  acceptable.

I understand the debates,
but in the section 6.1. of the RFC-822 (https://tools.ietf.org/html/rfc822#section-6.1).
The domain part must be formatted as :
```
domain      =  sub-domain *("." sub-domain)
sub-domain  =  domain-ref / domain-literal
domain-ref  =  atom           
```
where an atom is formatted as (https://tools.ietf.org/html/rfc822#section-3.3) :
```
specials    =  "(" / ")" / "<" / ">" / "@"  ; Must be in quoted-
            /  "," / ";" / ":" / "\" / <">  ;  string, to use
            /  "." / "[" / "]"              ;  within a word.
atom        =  1*<any CHAR except specials, SPACE and CTLs>
```
Also, there is nothing in the RFC-822 that tells that the domain part of an email address should follow the FQDN format. A FQDN may be acceptable for an email address, but not in this RFC-822.

Regards,

Fixed in https://github.com/dim/rfc-822/commit/0e4fa3e77e6c88e5a8b5066e28b7a0e6c80eaf4d


:thumbsup:
